<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/home.css">
    <script src="scripts/home.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Carter+One|Fjalla+One|Francois+One|IBM+Plex+Mono|Lacquer|Staatliches&display=swap" rel="stylesheet">
    <title>Instrumental</title>
  </head>
  <body>
    <div id="title">
      <span id = "instru"></span>
      <span id = mental></span>
    </div>
    <div>Instrumental is a site where...</div>


  </body>
</html>


<!-- <div id="profilepage">
    <a href="/profile"><input type="submit" value="Profile Page"></a>
</div>
<div id="questionspage">
    <a href="/questions"><input type="submit" value="Build Your Playlist"></a> -->
<!-- </div> -->
