<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/playlist.css">
    <title>Playlist</title>
</head>
<body>
    <h1>Your Personalized Playlist</h1>
    <div id="playlist">Playlist 1:</div>

<table style="width:100%">
  <tr>
    <th>Song</th>
    <th>Artist</th>
    <th>Duration</th>
    <th>Like</th>
    <th>Dislike</th>
    <th>Share</th>
    <th>Music Video</th>
  </tr>
  {% for song in songs %}
  <tr>
    <td>
      {{song.title}}
    </td>
    <td>
      {{song.artist}}
    </td>
    <td>
    {{song.duration}}
    </td>
    <td>👍</td>
    <td>👎</td>
    <td><a href="https://www.w3schools.com"><img src="images/share_icon.png" alt="share button"></a></td>
    <td><a href="https://www.w3schools.com"><img src="images/video_icon.png" width="30" height="30" alt="video player"></a></td>
  </tr>
  {% endfor %}
</table>
<div id="newplaylist">
  <p>Create New Playlist<p>
  <a href="/questions"><input type="submit" value="New Questions"></a>
</div>
</body>
</html>
