<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlist</title>
</head>
<body>
    <h1>Your Personalized Playlist</h1>
    <div id="Playlist">Playlist 1:</div>

    <div id="NewPlaylist">Create New Playlist</div>
    <a href="/questions"><input type="submit" value="New Questions"></a>
</body>
<table style="width:100%">
  <tr>
    <th>Song</th>
    <th>Artist</th>
    <th>Duration</th>
    <th>Like</th>
    <th>Dislike</th>
    <th>Share</th>
    <th>Music Video</th>
  </tr>
  {% for song in songs %}
  <tr>
    <td>
      {{song.song}}
    </td>
    <td>
      {{song.artist}}
    </td>
    <td>
      {{song.url}}
    </td>
    <td>👍</td>
    <td>👎</td>
    <td><a href="https://www.w3schools.com"><img src="images/share_icon.png" alt="share button"></a></td>
    <td><a href="https://www.w3schools.com"><img src="images/video_icon.png" width="30" height="30" alt="video player"></a></td>
  </tr>
  {% endfor %}
</table>
</html>
