<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/playlist.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Carter+One|Fjalla+One|Francois+One|IBM+Plex+Mono|Lacquer|Staatliches&display=swap" rel="stylesheet">
    <title>Playlist</title>
</head>
<body>
    <h1>Your Personalized Playlist</h1>

<table style="width:100%">
  <tr>
    <th>Song</th>
    <th>Artist</th>
    <th style="text-align:center">Link</th>
    <th style="text-align:center">Favorite</th>
    <th style="text-align:center">Delete</th>
    <th style="text-align:center">Share</th>
  </tr>
  {% for song in songs %}
  <tr>
    <td>
      {{song.song}}
    </td>
    <td>
      {{song.artist}}
    </td>
    <td style="text-align:center">
      <a href='{{ song.url }}'><img id = "spotifyicon" src = "images/spotifyimage.png" alt = "Spotify Button"></a>
    </td>
    <td style="text-align:center"><button class='like' style="border:1px solid black; background-color: transparent;"><img id = "favicon" src = "images/heart.png" alt = "Heart Icon"></button></td>
    <td style="text-align:center"><button class='dislike' style="border:1px solid black; background-color: transparent;"><img id = "trashicon" src = "images/trash.png" alt = "Trash Icon"></button></td>
    <td style="text-align:center"><a href="https://www.facebook.com/sharer/sharer.php?u={{song.url}}"><img id = "sharebutton" src="images/share.png" alt="share button"></a></td>

  </tr>
  {% endfor %}
</table>
<div id="newplaylist">
  <a href="/questions"><input id = "newplaylist" type="submit" value="Generate New Playlist"></a>
</div>
<div id="profileicon">
        <a href = "/profile"><img src = "images/profileicon.png" alt = "Profile Icon" width = 30px height = 30px></a>
</div>
<p id ="logoutlink"><a href = "{{ logout_url }}">LOGOUT</a></p>
<!-- <script src="jquery-3.4.1.min.js"></script> -->
<script src="scripts/playlists.js"></script>
</body>
</html>