<!DOCTYPE html>
<html lang="en">
<body>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Questions</title>
    <link rel="stylesheet" href="styles/questions.css"> 
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Carter+One|Fjalla+One|Francois+One|IBM+Plex+Mono|Lacquer|Staatliches&display=swap" rel="stylesheet">

</head>
<div id = "profileicon"><a href = "/profile"><img src = "images/profileicon.png" alt = "Profile Icon" width = 30px height = 30px></a></div>
<p id ="logoutlink"><a href = "{{ logout_url }}">LOGOUT</a></p>
<h1><span id = "instru">instru</span>mental</h1>


<div id = "quiz">
<form action='/playlist' method='post'>

    <section id='moods'>
        <h2>What mood are you in today?</h2>
        <div id = "left">
        <input type="radio" name="mood" value="Happy"> <span id="happy">Happy</span><br>
        <input type="radio" name="mood" value="Sad"> <span id="sad">Sad</span><br>
        <input type="radio" name="mood" value="Angry"> <span id="angry">Angry</span><br>
        </div>
        <div id = "right">
        <input type="radio" name="mood" value="Romantic"> <span id="romantic">Romantic</span><br>
        <input type="radio" name="mood" value="Lonely"> <span id="lonely">Lonely</span><br>
        <input type="radio" name="mood" value="Hype"> <span id="hype">Hype</span><br>
        </div>
    </section>

    <section id='genres'>
        <h2>What genres would you like to listen to?</h2>
      <div class = "roundedOne">
        <div id = "left">
        <input id = "rap" type="checkbox" name="genre" value="Rap" checked /><label for = "rap"></label>Rap<br>
        <input id = "jazz" type="checkbox" name="genre" value="Jazz" checked /><label for = "jazz"></label>Jazz<br>
        <input id = "pop" type="checkbox" name="genre" value="Pop" checked /><label for = "pop"></label>Pop<br>
        <input id = "rock" type="checkbox" name="genre" value="Rock" checked /><label for = "rock"></label>Rock<br>
        </div>
        <div id = "right">
        <input id = "latin" type="checkbox" name="genre" value="Latin" checked /><label for = "latin"></label>Latin<br>
        <input id = "rnb" type="checkbox" name="genre" value="RnB" checked /><label for = "rnb"></label>R&B<br>
        <input id = "kpop" type="checkbox" name="genre" value="K-Pop" checked /><label for = "kpop"></label>K-Pop<br>
        <input id = "edm" type="checkbox" name="genre" value="EDM" checked /><label for = "edm"></label>EDM<br>
        </div>
        <div id = "mid">
        <input id = "country" type="checkbox" name="genre" value="Country" checked /><label for = "country"></label>Country<br>
        </div>
      </div>
    <section>
        <h2>What activity are you doing today?</h2>
        <div id = "left">
        <input type="radio" name="activity" value="Going To Work"> Going To Work<br>
        <input type="radio" name="activity" value="Coming From Work"> Coming From Work<br>
        <input type="radio" name="activity" value="At The Gym"> At The Gym<br>
        <input type="radio" name="activity" value="Partying"> Partying<br>
        <input type="radio" name="activity" value="Going To Sleep"> Going To Sleep<br>
        </div>
        <div id = "right">
        <input type="radio" name="activity" value="Waking Up"> Waking Up<br>
        <input type="radio" name="activity" value="On A Drive"> On A Drive<br>
        <input type="radio" name="activity" value="Packing"> Packing<br>
        <input type="radio" name="activity" value="Cooking"> Cooking<br>
        <input type="radio" name="activity" value="Getting Ready"> Getting Ready<br>
        </div>
    </section>

    <section id='tracks'>
        <h2>How many tracks do you want?</h2>
        <p>Quantity (between 1 and 500):</p>
        <input id = "input" type="number" name="quantity" min="1" max="100">
    </section>

        <input id = "submit" type="submit">
</form>
    <script src='scripts/main.js'> </script>
</body>
</html>
