body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  /* grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3; */
}

#title{
  margin-left: 50px;
  margin-top: 50px;
  grid-column: 1;
  grid-row: 2;
  color: rgb(255, 222, 1);
  text-shadow: 1px 1px white;
  font-family: 'Lacquer', sans-serif;
  font-size: 80px;
}

#instru {
  font-size: 40px;
}

div {
  grid-column: 1;
  grid-row: 3;
  margin-left: 100px;
}
