body {
    display: grid;
    background-color: black;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 30% 70%;
    color: white;
    height: 100vh;
    width: 100vw;
}

h1 {
    text-align: center;
    align-self: center;
    font-family: 'Lacquer', sans-serif;
    color: rgb(255, 222, 1);
    text-shadow: 1px 1px white;
    margin-bottom: 20px;
    font-weight: 100;
    grid-column: 1 / span 2;
    font-size: 50px;
    margin-bottom: 20px;
}

#yourfavorites {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    margin-top: 200px;
    font-family: 'Lacquer', sans-serif;
    font-size: 55px;
    color: rgb(255, 222, 1);
    text-shadow: 1px 1px white;
    
}

#homebutton {
    position: absolute;
    left: 15px;
    top: 0;
    margin-top: 2px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
    letter-spacing: 2px;
    grid-row: 1;
    grid-column: 1;
  }
  
#homebutton a {
    color: rgb(255, 222, 1);
    text-decoration: none;
}
  
#homebutton a:visited {
    color: rgb(255, 222, 1);
}
  
#homebutton a:hover {
    font-style: italic;
}

#logoutlink {
    position: absolute;
    right: 15px;
    top: 0;
    margin-top: 2px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
    letter-spacing: 2px;
    grid-row: 1;
    grid-column: 2;
}
  
#logoutlink a {
    color: rgb(255, 222, 1);
    text-decoration: none;
}
  
#logoutlink a:visited {
    color: rgb(255, 222, 1);
}
  
#logoutlink a:hover {
    font-style: italic;
}

#newplaylist {
    /* position: relative;
    top: 3px;
    bottom: 2px;
    right: 2px; */
    font-size: 15px;
    padding: 5px;
    background-color:rgba(0,0,0,0);
    border-color: rgb(255, 222, 1);
    border-width: 3px;
    color: rgb(255, 222, 1);
    border-radius: 10px;
    font-family: 'IBM Plex Mono', monospace;
    position: fixed;
    bottom: 0;
    left: 0;
    }

table {
    grid-row: 2;
    grid-column: 2;;
    margin-top: 20px;
}


#spotifyicon {
    width: 26px;
    height: 26px;
}

th {
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2px;
    border-bottom: 0.5px solid #333;
    padding: 6px 0;
    font-family: 'IBM Plex Mono', monospace;
    color: rgb(255, 222, 1);
}

td {
    font-size: 20px;
    padding: 6px 0;
    color:white;
    font-family: 'IBM Plex Mono', monospace;
    border-bottom: 0.5px solid #333;
}

#sharebutton {
    width: 20px;
    height: 20px;
}

#trashicon {
    width: 28px;
    height: 23px;
}

button {
    outline: none;
    border: none;
}

input:focus, textarea {
    outline: none !important;
  }