section {
  /* background-color: black; */
  color: white;
  margin: auto;
  line-height: 60px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Circular','Helvetica','Arial' serif;
}

h1 {
  text-align: center;
}

form {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

div {
  font-size: 25px;
  font-weight: bold;
  color: yellow;
  font-family: 'Helvetica', serif;
}

body {

  
}
