

body {
  background-color: rgb(26, 32, 31);
  color: white;
  margin: auto;
  line-height: 60px;
  font-size: 30px;
  font-weight: bold;
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 40% 40% 10% ;
}

h1 {
position: absolute;
top: 8px;
right: 16px;
grid-row: 1;
grid-column: 1;
}



#moods{
  border: 2px solid white;
  border-radius: 10px;
  background-image: url('images/topimage.jpg');
  grid-row: 2;
}

#genres {
  border: 2px solid white;
  border-radius: 10px;
  background-image: url('images/topimage.jpg');
  grid-row: 3;
}

form {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

h2 {
  text-shadow: 
  -1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
    1px 1px 0 white;
    color: rgb(255, 222, 1)
  }

div {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Helvetica', serif;
}

/* #topimage {
float: right;
} */



/* #container {
  position:relative;
  text-align: center;
  color: white;
} */

#quiz {
  /* clear: right; */
  color: rgb(255, 222, 1);
  text-align: center;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(255, 222, 1);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

form {
  color: white;
}